[Unit]
Description=Assorted Tech Reverse SSH Service
ConditionPathExists=|/usr/bin
After=network.target

[Service]
User=bridge
ExecStart=/usr/bin/fsh/core/bridge.sh --service

# Restart every >2 seconds to avoid StartLimitInterval failure
RestartSec=13
Restart=always

[Install]
WantedBy=multi-user.target
